.nav-item + .nav-item {
    margin-left: 25px;
}

html, body {
    height: 100%;
    margin: 0;
}


.full-height {
    height: 100vh;
}

.image1 {
    width: 100%;
    max-width: 300px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.mylist li a img {
    width: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(400px);
        -webkit-transform: translateY(400px);
        -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
        -o-transform: translateY(400px);
}
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

.info {
    animation: fadeIn 1s ease-out;
    -webkit-animation: fadeIn 1s ease-out;
}


@keyframes transition{
    from {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}
.image1{
    animation: transition 1.2s linear;
    -webkit-animation: transition 1.2s linear;
}

